
/*------------------------------------
- COLOR vino
------------------------------------*/
.alert-vino {
    color: #170707;
    background-color: #dc8989;
    border-color: #d77979;
}

.alert-vino hr {
    border-top-color: #d16565;
}

.alert-vino .alert-link {
    color: #000000;
}

.badge-vino {
    color: #fff;
    background-color: #762323;
}

.badge-vino[href]:hover, .badge-vino[href]:focus {
    color: #fff;
    background-color: #4e1717;
}

.bg-vino {
    background-color: #762323 !important;
}

a.bg-vino:hover, a.bg-vino:focus,
button.bg-vino:hover,
button.bg-vino:focus {
    background-color: #4e1717 !important;
}

.border-vino {
    border-color: #762323 !important;
}

.btn-vino {
    color: #fff;
    background-color: #762323;
    border-color: #762323;
}

.btn-vino:hover {
    color: #fff;
    background-color: #5a1a1a;
    border-color: #4e1717;
}

.btn-vino:focus, .btn-vino.focus {
    box-shadow: 0 0 0 0.2rem rgba(118, 35, 35, 0.5);
}

.btn-vino.disabled, .btn-vino:disabled {
    color: #fff;
    background-color: #762323;
    border-color: #762323;
}

.btn-vino:not(:disabled):not(.disabled):active, .btn-vino:not(:disabled):not(.disabled).active, .show > .btn-vino.dropdown-toggle {
    color: #fff;
    background-color: #4e1717;
    border-color: #421313;
}

.btn-vino:not(:disabled):not(.disabled):active:focus, .btn-vino:not(:disabled):not(.disabled).active:focus, .show > .btn-vino.dropdown-toggle:focus {
    box-shadow: 0 0 0 0.2rem rgba(118, 35, 35, 0.5);
}

.btn-outline-vino {
    color: #762323;
    background-color: transparent;
    border-color: #762323;
}

.btn-outline-vino:hover {
    color: #fff;
    background-color: #762323;
    border-color: #762323;
}

.btn-outline-vino:focus, .btn-outline-vino.focus {
    box-shadow: 0 0 0 0.2rem rgba(118, 35, 35, 0.5);
}

.btn-outline-vino.disabled, .btn-outline-vino:disabled {
    color: #762323;
    background-color: transparent;
}

.btn-outline-vino:not(:disabled):not(.disabled):active, .btn-outline-vino:not(:disabled):not(.disabled).active, .show > .btn-outline-vino.dropdown-toggle {
    color: #fff;
    background-color: #762323;
    border-color: #762323;
}

.btn-outline-vino:not(:disabled):not(.disabled):active:focus, .btn-outline-vino:not(:disabled):not(.disabled).active:focus, .show > .btn-outline-vino.dropdown-toggle:focus {
    box-shadow: 0 0 0 0.2rem rgba(118, 35, 35, 0.5);
}

.list-group-item-vino {
    color: #170707;
    background-color: #d77979;
}

.list-group-item-vino.list-group-item-action:hover, .list-group-item-vino.list-group-item-action:focus {
    color: #170707;
    background-color: #d16565;
}

.list-group-item-vino.list-group-item-action.active {
    color: #fff;
    background-color: #170707;
    border-color: #170707;
}

.table-vino,
.table-vino > th,
.table-vino > td {
    background-color: #d77979;
}

.table-hover .table-vino:hover {
    background-color: #d16565;
}

.table-hover .table-vino:hover > td,
.table-hover .table-vino:hover > th {
    background-color: #d16565;
}

.text-vino {
    color: #762323 !important;
}

a.text-vino:hover, a.text-vino:focus {
    color: #4e1717 !important;
}
