
/*------------------------------------
- COLOR celeste
------------------------------------*/
.alert-celeste {
    color: #005b84;
    background-color: #ccefff;
    border-color: #b7e8ff;
}

.alert-celeste hr {
    border-top-color: #9ee0ff;
}

.alert-celeste .alert-link {
    color: #003851;
}

.badge-celeste {
    color: #212529;
    background-color: #00B0FF;
}

.badge-celeste[href]:hover, .badge-celeste[href]:focus {
    color: #212529;
    background-color: #008ccc;
}

.bg-celeste {
    background-color: #00B0FF !important;
}

a.bg-celeste:hover, a.bg-celeste:focus,
button.bg-celeste:hover,
button.bg-celeste:focus {
    background-color: #008ccc !important;
}

.border-celeste {
    border-color: #00B0FF !important;
}

.btn-celeste {
    color: #212529;
    background-color: #00B0FF;
    border-color: #00B0FF;
}

.btn-celeste:hover {
    color: #212529;
    background-color: #0097db;
    border-color: #008ccc;
}

.btn-celeste:focus, .btn-celeste.focus {
    box-shadow: 0 0 0 0.2rem rgba(0, 176, 255, 0.5);
}

.btn-celeste.disabled, .btn-celeste:disabled {
    color: #212529;
    background-color: #00B0FF;
    border-color: #00B0FF;
}

.btn-celeste:not(:disabled):not(.disabled):active, .btn-celeste:not(:disabled):not(.disabled).active, .show > .btn-celeste.dropdown-toggle {
    color: #212529;
    background-color: #008ccc;
    border-color: #0082bc;
}

.btn-celeste:not(:disabled):not(.disabled):active:focus, .btn-celeste:not(:disabled):not(.disabled).active:focus, .show > .btn-celeste.dropdown-toggle:focus {
    box-shadow: 0 0 0 0.2rem rgba(0, 176, 255, 0.5);
}

.btn-outline-celeste {
    color: #00B0FF;
    background-color: transparent;
    border-color: #00B0FF;
}

.btn-outline-celeste:hover {
    color: #212529;
    background-color: #00B0FF;
    border-color: #00B0FF;
}

.btn-outline-celeste:focus, .btn-outline-celeste.focus {
    box-shadow: 0 0 0 0.2rem rgba(0, 176, 255, 0.5);
}

.btn-outline-celeste.disabled, .btn-outline-celeste:disabled {
    color: #00B0FF;
    background-color: transparent;
}

.btn-outline-celeste:not(:disabled):not(.disabled):active, .btn-outline-celeste:not(:disabled):not(.disabled).active, .show > .btn-outline-celeste.dropdown-toggle {
    color: #212529;
    background-color: #00B0FF;
    border-color: #00B0FF;
}

.btn-outline-celeste:not(:disabled):not(.disabled):active:focus, .btn-outline-celeste:not(:disabled):not(.disabled).active:focus, .show > .btn-outline-celeste.dropdown-toggle:focus {
    box-shadow: 0 0 0 0.2rem rgba(0, 176, 255, 0.5);
}

.list-group-item-celeste {
    color: #005b84;
    background-color: #b7e8ff;
}

.list-group-item-celeste.list-group-item-action:hover, .list-group-item-celeste.list-group-item-action:focus {
    color: #005b84;
    background-color: #9ee0ff;
}

.list-group-item-celeste.list-group-item-action.active {
    color: #212529;
    background-color: #005b84;
    border-color: #005b84;
}

.table-celeste,
.table-celeste > th,
.table-celeste > td {
    background-color: #b7e8ff;
}

.table-hover .table-celeste:hover {
    background-color: #9ee0ff;
}

.table-hover .table-celeste:hover > td,
.table-hover .table-celeste:hover > th {
    background-color: #9ee0ff;
}

.text-celeste {
    color: #00B0FF !important;
}

a.text-celeste:hover, a.text-celeste:focus {
    color: #008ccc !important;
}
